/* Customizações para reforçar a paleta de cores */
/* Branco: fundo principal, Vermelho: destaques e botões, Rosa: toques em banners ou elementos secundários */

.container {
    margin: 45px;
    padding: 30px;
}

.bg-principal {
    background-color: #FFFFFF;
    }

.text-principal {
    color: #222222;
    }

.btn-primario {
    @apply bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-700;
    }

.banner-pink {
    background-color: #ffe4e6;
    } /* tom de rosa suave */

#butao {
    width: 100px;
    textarea: center;
    border-radius: 15px;
    }

#butao:hover {
    background-color: #ffcbdb;
    }

.form-contato {
    margin: 20px 15px;
    }

.carousel {
    position: relative;
    max-width: 100%;
    margin: auto;
}

.carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    backgroud-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}
